
footer {
    margin-top: 80px;
    background-color: #250858;
    color: rgba(255, 255, 255, 0.7);
}
footer p {
    margin: 0;
    line-height: 40px;
    display: block;
}
footer a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 40px;
    margin: 0 3px;
    transition: all .3s ease;
}
footer a:hover {
    color: rgba(255, 255, 255, 1);
    transform: scale(1.2)
}
footer .social-links {
    text-align: right;
}